# 1. Folder Sistem & Cache (Wajib Abaikan)
__pycache__/
*.pyc
.vscode/
.env
.DS_Store

# 2. Data Mentah & Hasil Proses (Berat!)
# Kita abaikan folder data agar GitHub tidak penuh
data/
*.mp4
*.npy
*.npz

# 3. Model Besar (Simpan di Google Drive saja)
checkpoints/
*.pth
*.onnx
*.h5

# 4. Log & File Sementara
# Abaikan semua CSV, KECUALI private.csv
*.csv
!private.csv

# 5. File Gambar Debugging (Jika ada)
*.png
*.jpg